-- CreateEnum
CREATE TYPE "VendorActionStatus" AS ENUM ('PENDING', 'ACCEPTED', 'DECLINED');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('ORDER_STATUS', 'VENDOR_ACTION_REQUIRED', 'DRIVER_ASSIGNMENT', 'PICKUP_ALERT', 'RATING_REQUEST');

-- AlterTable
ALTER TABLE "Notification" DROP COLUMN "type",
ADD COLUMN     "type" "NotificationType" NOT NULL,
ALTER COLUMN "isRead" SET NOT NULL,
ALTER COLUMN "createdAt" SET NOT NULL,
ALTER COLUMN "createdAt" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "OrderActivityLog" DROP COLUMN "actorRole",
ADD COLUMN     "actorRole" "Role",
DROP COLUMN "fromStatus",
ADD COLUMN     "fromStatus" "OrderStatus",
DROP COLUMN "toStatus",
ADD COLUMN     "toStatus" "OrderStatus",
ALTER COLUMN "createdAt" SET NOT NULL,
ALTER COLUMN "createdAt" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "VendorOrderAction" DROP COLUMN "status",
ADD COLUMN     "status" "VendorActionStatus" NOT NULL DEFAULT 'PENDING',
ALTER COLUMN "respondedAt" SET DATA TYPE TIMESTAMP(3);

-- CreateIndex
CREATE UNIQUE INDEX "DriverAssignment_orderId_key" ON "DriverAssignment"("orderId");

-- CreateIndex
CREATE INDEX "Notification_createdAt_idx" ON "Notification"("createdAt");

-- CreateIndex
CREATE INDEX "OrderActivityLog_createdAt_idx" ON "OrderActivityLog"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "VendorOrderAction_orderId_key" ON "VendorOrderAction"("orderId");

-- CreateIndex
CREATE INDEX "VendorOrderAction_vendorId_idx" ON "VendorOrderAction"("vendorId");

-- AddForeignKey
ALTER TABLE "OrderActivityLog" ADD CONSTRAINT "OrderActivityLog_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DriverAssignment" ADD CONSTRAINT "DriverAssignment_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorOrderAction" ADD CONSTRAINT "VendorOrderAction_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

